<#include "head.html">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="http://${cdn}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://${cdn}/layer/mobile/need/layer.css">
<link rel="stylesheet" href="http://${cdn}/common/common.css">
<link rel="stylesheet" href="http://${cdn}/markdown/markdown.css" rel="stylesheet" />
<link rel="stylesheet" href="http://${cdn}/highlight/highlight-default.css" rel="stylesheet" />
<link rel="stylesheet" href="http://${cdn}/bootstrap-fileview/bootstrap-fileview.css">
<link rel="stylesheet" href="http://${cdn}/toastr/toastr.min.css">

<script src="http://${cdn}/jquery/jquery-2.1.1.min.js"></script>
<script src="http://${cdn}/bootstrap/js/bootstrap.min.js"></script>
<script src="http://${cdn}/bootstrap/js/BootstrapMenu.min.js"></script>
<script src="http://${cdn}/common/common.js"></script>
<script src="http://${cdn}/layer/layer.js"></script>
<script src="http://${cdn}/markdown/marked.js"></script>
<script src="http://${cdn}/ace/ace.js"></script>
<script src="http://${cdn}/highlight/highlight.pack.js"></script>
<script src="http://${cdn}/bootstrap-treeview\js\bootstrap-treeview.js"></script>
<script src="http://${cdn}/bootstrap-fileview/bootstrap-fileview.js"></script>
<script src="http://${cdn}/pinyin/pinyin_dict_notone.js"></script>
<script src="http://${cdn}/pinyin/pinyin_dict_withtone.js"></script>
<script src="http://${cdn}/pinyin/pinyinUtil.js"></script>
<script src="http://${cdn}/toastr/toastr.min.js"></script>